/* Fonts */

@font-face {
  font-family: "Roboto";
  src:  url("../fonts/roboto-400.woff2") format("woff2"),
        url("../fonts/roboto-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:  url("../fonts/roboto-500.woff2") format("woff2"),
        url("../fonts/roboto-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:  url("../fonts/roboto-700.woff2") format("woff2"),
        url("../fonts/roboto-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-dark-white: #F8F7F4;
  --basik-white-grey: #D3D3D2;
  --basic-dark-grey: #323232;
  --basic-grey: #5A5A5A;
  --basik-light-grey: #C4C4C4;
  --basic-green: #849D8F;
  --basic-purple: #8996A6;
  --basic-brown: #9D8B84;
  --basic-light-pink: #FBDED7;
  --basic-medium-pink: #F6B5A5;
  --basic-dark-pink: #D07058;
  --basic-red: #E84D37;
  --basic-light-red: #FFBC9E;
}

/* Global */

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.page {
  min-width: 1200px;
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.page-body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: var(--basic-white);
}

.inner-body {
  background-color: var(--basic-green);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */

.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-white);
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-style: none;
  border-radius: 70px;
}

.button:hover,
.button:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

/* Input */

.input-text {
  width: 100%;
  height: 44px;
  padding: 15px;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--basic-dark-grey);
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
}

.input-text:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
}

.input-text:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.input-text::placeholder {
  font-weight: 400;
  color: #999999;
}

/* Main page wrapper */

.main-page-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
}

.page-wrapper-1 {
  background-color: var(--basic-green);
  background-image: url(../img/promo/promo-1.png);
}

.page-wrapper-2 {
  background-color: var(--basic-purple);
  background-image: url(../img/promo/promo-2.png);
}

.page-wrapper-3 {
  background-color: var(--basic-brown);
  background-image: url(../img/promo/promo-3.png);
}

/* Header */

.main-header .container {
  display: grid;
  grid-template-columns: 1fr 426px;
  column-gap: 26px;
  align-items: center;
  min-height: 114px;
}

/* Main Nav */

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Logo */

.logo {
  width: 154px;
  height: 65px;
}

/* Site navigation */

.site-nav,
.site-nav-submenu {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav {
  margin-left: 24px;
  display: flex;
}

.site-nav > li {
  margin-right: 4px;
}

.site-nav > li:last-child {
  margin-right: 0;
}

.nav-link {
  display: block;
  margin-bottom: 10px;
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 11px;
  padding-left: 14px;
  font-weight: 700;
  color: var(--basic-white);
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-underline-offset: 3px;
  border-radius: 26px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
  text-decoration: none;
}

.nav-current {
  color: var(--basic-white);
  background-color: var(--basic-dark-pink);
  text-decoration: none;
}

/* Site navigation Sub Menu */

.site-nav-submenu {
  position: absolute;
  top: 100%;
  z-index: 10;
  display: none;
  min-width: 143px;
  padding-top: 13px;
  padding-bottom: 14px;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.nav-item {
  display: inline-block;
}

.nav-item:hover .site-nav-submenu {
  display: block;
}

.submenu-title {
  width: 128px;
  margin-right: 9px;
  margin-bottom: 6px;
  margin-left: 6px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  font-weight: 700;
  line-height: 18px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.submenu-item {
  display: inline-block;
  width: 100%;
  min-height: 27px;
  padding-right: 20px;
  padding-left: 21px;
  font: inherit;
  line-height: 27px;
  text-decoration: none;
  vertical-align: middle;
  color: var(--basic-dark-grey);
}

.submenu-item:hover,
.submenu-item:focus {
  color: var(--basic-dark-grey);
  background-color: var(--basic-light-pink);
}

.submenu-item:active {
  color: var(--basic-dark-grey);
  background-color: var(--basic-medium-pink);
}

.submenu-current {
  color: var(--basic-white);
  background-color: var(--basic-dark-pink);
}

/* User nav */

.user-nav {
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
}

.user-nav > div {
  margin-right: 10px;
}

.user-nav > div:last-child {
  margin-right: 0;
}

.site-search .input-text,
.login-form .input-text {
  font-size: 14px;
  line-height: 16px;
}

.search-form,
.login-form,
.cart {
  background-color: var(--basic-dark-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

/* User-Menu */

.search-link,
.login-link,
.cart-link,
.cart-full {
  display: flex;
  height: 32px;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 45px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  border-radius: 20px;
}

.search-link {
  width: 32px;
  height: 32px;
  padding: 8px;
  font-size: 0;
  line-height: 0;
  text-indent: -3000px;
  background-image: url(../img/icons/search-white.png);
  background-position: 50% 50%;
  border-radius: 50%;
}

.login-link {
  background-image: url(../img/icons/login-white.png);
  background-position: 16px 50%;
}

.cart-link {
  background-image: url(../img/icons/cart-empty.png);
  background-position: 16px 50%;
}

.search-link:hover,
.search-link:focus,
.login-link:hover,
.login-link:focus {
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
}

.cart-link:hover,
.cart-link:focus {
  cursor: default;
}

.cart-full {
  background-image: url(../img/icons/cart-full.png);
  background-position: 16px 50%;
}

.search-link:hover,
.search-link:focus {
  background-image: url(../img/icons/search-black.png);
}

.login-link:hover,
.login-link:focus {
  background-image: url(../img/icons/login-black.png);
}

.cart-full,
.cart-full:hover {
  background-image: url(../img/icons/cart-full.png);
  cursor: pointer;
}

.user-menu {
  position: relative;
}

/* Search form */

.site-search {
  position: relative;
}

.search-form {
  position: absolute;
  top: 100%;
  z-index: 10;
  right: 0;
  display: none;
  width: 341px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.site-search:hover .search-form {
  display: block;
}

/* Login form */

.login-form {
  position: absolute;
  z-index: 10;
  right: 0;
  display: none;
  width: 277px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 22px;
  padding-left: 19px;
}

.user-menu:hover .login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.login-form-item {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.login-button {
  padding-top: 10px;
  padding-right: 26px;
  padding-bottom: 10px;
  padding-left: 26px;
}

.logn-form-help {
  display: block;
  width: 120px;
  margin: 0;
  padding: 0;
}

.login-form-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: var(--basic-dark-grey);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.login-form-link:hover,
.login-form-link:focus,
.login-form-link:active {
  color: var(--basic-red);
}

/* Cart */
.user-cart {
  position: relative;
}

.cart {
  position: absolute;
  display: none;
  z-index: 10;
  right: 0;
  width: 539px;
  padding-top: 20px;
  padding-right: 14px;
  padding-bottom: 21px;
  padding-left: 15px;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-dark-grey);
}

.user-cart:hover .cart {
  display: block;
}

.products-table {
  width: 100%;
  margin-bottom: 24px;
  border-bottom: 1px solid #CACAC7;
}

.products-table td {
  padding-right: 10px;
  padding-bottom: 20px;
}

.cart-item-delete {
  width: 11px;
}

.cart-delete-button {
  display: block;
  width: 11px;
  height: 11px;
  border: none;
  background: none;
  background-image: url(../img/icons/X.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.cart-item-image {
  width: 33px;
}

.cart-item-description {
  width: 216px;
}

.cart-item-price {
  width: 110px;
  text-align: right;
}

.cart-item-total {
  width: 65px;
  text-align: right;
}

.cart-full {
  font-weight: 500;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
}

.item-price {
  color: #ababab;
}

.cart-total {
  margin: 0;
  margin-bottom: 15px;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
}

.cart-button {
  display: block;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

/* Working Time */

.working-time {
  grid-column: 2;
  justify-self: end;
  max-width: 267px;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.working-time p {
  margin-top: 0;
  margin-bottom: 8px;
}

.working-time a {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-white);
}

/* Main */

.page-main .container {
  display: grid;
}

/* Slider */

.slider {
  position: relative;
  padding-top: 275px;
  margin-bottom: 50px;
}

.slider-item {
  text-align: center;
}

.slider-item {
  display: none;
}

.slide-current {
  display: block;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  font-size: 60px;
  line-height: 60px;
}

.slider-item-button {
  display: inline-block;
  padding-top: 9px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  font-size: 32px;
  font-weight: 44px;
}

.slider-controls {
  position: absolute;
  left: 0;
  bottom: 8px;
}

.slider-controls button {
  display: inline-block;
  margin: 0;
  margin-right: 8px;
  padding: 0;
  width: 19px;
  height: 19px;
  background: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.slider-controls button:hover,
.slider-controls button:focus{
  background: rgba(255, 255, 255, 0.4);
}

.slider-controls .current {
  background-color: var(--basic-white);
}

/* Promo */

.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  min-height: 229px;
}

.promo-item {
  position: relative;
  width: 560px;
  height: 229px;
  overflow: hidden;
}

.promo-item-1 {
  background-image: url(../img/banners/banner-1.png);
}

.promo-item-2 {
  background-image: url(../img/banners/banner-2.png);
}

.promo-title {
  margin: 16px;
  margin-right: 30px;
  font-size: 35px;
  line-height: 41px;
}

.promo-text {
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-left: 16px;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
}

.promo-button {
  position: absolute;
  right: 22px;
  bottom: 22px;
  padding-top: 15px;
  padding-right: 22px;
  padding-bottom: 16px;
  padding-left: 22px;
}

/* Top sales */

.top-sales-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.page-catalog .top-sales-list {
  margin-bottom: 80px;
}

.top-sales-item {
  position: relative;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
}

.top-sales-item:nth-child(4n) {
  margin-right: 0;
}

.top-sales-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-sales-wrapper:hover {
  position: absolute;
  z-index: 1;
  top: -6px;
  left: -13px;
  box-sizing: content-box;
  width: 100%;
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 21px;
  padding-left: 13px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.top-sales-item-title {
  order: 1;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 11px;
  text-align: center;
}

.top-sales-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-underline-offset: 2px;
}

.top-sales-link:hover,
.top-sales-link:focus,
.top-sales-link:active {
  color: var(--basic-light-red);
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.top-sales-price {
  margin: 0;
  margin-top: -56px;
  margin-right: auto;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.top-sales-price span {
  font-size: 30px;
  line-height: 35px;
}

.top-sales-button {
  display: none;
  order: 2;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.top-sales-wrapper:hover .top-sales-button {
  display: block;
}

/* Index columns */
.index-columns {
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 26px;
  margin-bottom: 40px;
}

/* Features */

.features {
  margin-bottom: 40px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 36px;
  padding-left: 20px;
  line-height: 22px;
  color: var(--basic-dark-grey);
  background-color: #ECE1C7;
  background-image: url(../img/pattern.jpg);
  background-repeat: repeat;
  border-radius: 16px;
}

.features-title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  row-gap: 19px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  padding-top: 14px;
  padding-left: 55px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 49px 49px;
}

.feature-item-1 {
  background-image: url(../img/icons/icecream.svg);
}

.feature-item-2 {
  background-image: url(../img/icons/cow.png);
}

.feature-item-3 {
  background-image: url(../img/icons/leaf.svg);
}

.feature-item-4 {
  background-image: url(../img/icons/thermometer.svg);
}

/* News */

.news {
  min-height: 220px;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.news h2 {
  margin-top: 23px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.news-link {
  display: inline-block;
  margin-bottom: 23px;
  margin-left: 20px;
  max-width: 300px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: inherit;
}

.news img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 16px;
}

.news-link:hover,
.news-link:focus,
.news-link:active {
  color: var(--basic-red);
}

/* Subscription */

.subscription {
  min-height: 220px;
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 5px;
  padding-left: 6px;
  line-height: 22px;
  color: var(--basic-dark-grey);
  background: repeating-linear-gradient(135deg,#92cdff 0,#92cdff 8px,#f8f7f4 8px,#f8f7f4 16px,#fe9e90 16px,#fe9e90 24px,#f8f7f4 24px,#f8f7f4 32px);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.subscription-content {
  padding-top: 29px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
  background-color: #F8F7F4;
  border-radius: 16px;
}

.subscription-text {
  margin: 0;
  margin-bottom: 36px;
}

.subcsription-form {
  display: flex;
}

.subcsription-form-item {
  margin: 0;
}

.subscription .input-text {
  width: 368px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 24px;
}

.subscription-button {
  padding-top: 10px;
  padding-right: 19px;
  padding-bottom: 10px;
  padding-left: 19px;
}

/* Contacts */

.map {
  width: 100%;
  height: 430px;
}

.map iframe {
  width: 100%;
  height: 430px;
  border: none;
}

.map .container {
  position: relative;
  margin-top: -434px;
  padding-right: 27px;
}

.map-pin {
  position: absolute;
  z-index: 10;
  top: 136px;
  left: 285px;
}

.address {
  width: 303px;
  margin-left: auto;
  margin-top: 62px;
  min-height: 306px;
  padding-top: 32px;
  padding-right: 25px;
  padding-bottom: 31px;
  padding-left: 25px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
  border-radius: 16px;
}

.address p {
  margin-bottom: 30px;
}

.contacts-street,
.contacts-phone {
  margin: 0;
}

.contacts-street span,
.contacts-phone a {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-phone a {
  color: inherit;
  text-decoration: none;
}

.address-button {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
}

/* Footer */

.main-footer {
  padding-top: 18px;
  padding-bottom: 25px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: repeat(4, 267px);
  column-gap: 26px;
  align-items: center;
}

/* Social */

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.social-list li {
  margin-right: 10px;
}

.social-list li:last-child {
  margin-right: 0;
}

.social-list a {
  opacity: 0.8;
}

.social-list a:hover,
.social-list a:focus,
.social-list a:active {
  opacity: 1;
}

/* Info */

.info {
  grid-column: 2 / 4;
}

.info-list {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 10px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-item {
  padding-left: 22px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-underline-offset: 3px;
}

.info-item-favorite {
  font-weight: 700;
  background-image: url(../img/icons/heart.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.info-item:hover,
.info-item:focus,
.info-item:active,
.copyright a:hover,
.copyright a:focus,
.copyright a:active {
  color: var(--basic-light-red);
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

/* Copyright */

.copyright {
  margin: 0;
  padding: 0;
}

.copyright a {
  display: grid;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}

/* Message form */

.modal-message {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
  position: relative;
  width: 477px;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 27px;
  padding-left: 24px;
  color: var(--basic-dark-grey);
  background-color: #F8F7F4;
  border-radius: 6px;
}

.message-form p {
  margin: 0;
  margin-bottom: 20px;
}

.message-form-title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.message-form-input {
  width: 267px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.message-form-textarea {
  min-height: 154px;
  margin-bottom: 25px;
}

.message-form-button {
  display: block;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 17px;
  border: none;
  background: none;
  background-image: url(../img/icons/close-button.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Catalog page */

.page-catalog {
  margin-bottom: 30px;
}

.catalog-title {
  margin-top: 9px;
  margin-bottom: 29px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

/* Breadcrumbs */

.breadcrumbs {
  order: -1;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs li {
  margin-right: 10px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumb-link {
  padding-right: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--basic-white);
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-underline-offset: 3px;
  background-image: url(../img/icons/double-arrow.png);
  background-repeat: no-repeat;
  background-position: right 50%;
}

.breadcrumbs li:last-child .breadcrumb-link {
  padding-right: 0;
  background: none;
  text-decoration: none;
}

.breadcrumb-link:hover,
.breadcrumb-link:focus,
.breadcrumb-link:active {
  color: var(--basic-light-red);
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

/* Sorting form */

.sort-form {
  width: 869px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.sort-form-item {
  position: relative;
  height: 36px;
  margin: 0;
  margin-bottom: 34px;
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 7px;
  padding-left: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
}

.sort-form legend {
  position: absolute;
  top: -20px;
  left: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.sort-form select,
.sort-form label {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.sort-types {
  width: 196px;
  padding: 0;
  background: none;
  border: none;
}

.sort-price {
  width: 218px;
}

.sort-fat {
  width: 425px;
}

.sort-type {
  width: 100%;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 13px;
  color: inherit;
  appearance:none;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 13px) 50%;
  border: none;
  border-radius: 20px;
}

.sort-type:hover,
.sort-type:focus {
  color: var(--basic-dark-grey);
  background-image: url(../img/icons/arrow-down-dark.svg);
}

.sort-type.active {
  outline: none;
  color: var(--basic-dark-grey);
  background-color: #fff;
  background-image: url(../img/icons/arrow-down-dark.svg);
}

.sort-form label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.sort-fat label {
  height: 22px;
  margin-right: 16px;
  padding-left: 33px;
  line-height: 22px;
  vertical-align: middle;
}

.sort-fat label:last-of-type {
  margin-right: 0;
}

.input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  border: 3px solid var(--basic-white);
  border-radius: 50px;
  opacity: 0.7;
}

.input-radio:checked + label::before {
  padding: 4px;
  background-color: var(--basic-white);
  background-clip: content-box;
}

.input-radio + label:hover::before {
  opacity: 1;
}

.input-radio:disabled + label {
  cursor: default;
  opacity: 0.4;
}

.input-radio:focus + label {
  outline: 1px auto rgb(16, 16, 16);
}

.range-controls {
  position: relative;
  width: 196px;
  height: 20px;
  display: flex;
  align-items: center;
}

.scale {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(248, 247, 244, 0.5);
}

.bar {
  position: absolute;
  height: 2px;
  background-color: var(--basic-white);
}

.toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: #ABABAB;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.sort-ingredients label {
  height: 20px;
  margin-right: 20px;
  padding-left: 32px;
  line-height: 20px;
  vertical-align: middle;
}

.sort-ingredients label:last-of-type {
  margin-right: 0;
}

.input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 20px;
  background-image: url(../img/icons/checkbox-off.png);
  background-repeat: no-repeat;
  opacity: 0.7;
}

.input-checkbox:checked + label::before {
  background-image: url(../img/icons/checkbox-on.png);
}

.input-checkbox + label:hover::before {
  opacity: 1;
}

.input-checkbox:disabled + label {
  cursor: default;
  opacity: 0.4;
}

.input-checkbox:focus + label {
  outline: 1px auto rgb(16, 16, 16);;
}

.sort-form-button {
  width: 144px;
  height: 36px;
  padding-top: 7px;
  padding-right: 27px;
  padding-bottom: 7px;
  padding-left: 27px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: inherit;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

.sort-form-button:hover {
  color: var(--basic-dark-grey);
  background: var(--basic-white);
}

.sort-form-button:active {
  color: var(--basic-dark-grey);
  background: var(--basic-white);
  border: none;
  box-shadow: inset 0px 2px 1px #696969;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination li {
  margin-right: 4px;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination-item {
  display: inline-block;
  width: 26px;
  height: 26px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  text-decoration: none;
  border-radius: 50%;
}

.pagination-item:hover {
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item-current {
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
}

.pagination-button {
  display: block;
  width: 7px;
  height: 12px;
  font-size: 0;
  text-indent: -5000px;
  cursor: pointer;
  border: none;
  background: none;
  background-image: url(../img/icons/icon-left-small.png);
  background-repeat: no-repeat;
}

.pagination-button-prev {
  margin-right: 16px;
}

.pagination-button-next {
  order: 1;
  margin-left: 16px;
  transform: rotate(180deg);
}

.pagination-button:disabled {
  opacity: 0.2;
  cursor: default;
}
