/* Fonts */

@font-face {
  font-family: "Roboto";
  src:  url("../fonts/roboto-400.woff2") format("woff2"),
        url("../fonts/roboto-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:  url("../fonts/roboto-500.woff2") format("woff2"),
        url("../fonts/roboto-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:  url("../fonts/roboto-700.woff2") format("woff2"),
        url("../fonts/roboto-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-dark-white: #F8F7F4;
  --basik-white-grey: #D3D3D2;
  --basic-dark-grey: #323232;
  --basic-grey: #5A5A5A;
  --basik-light-grey: #C4C4C4;
  --basic-green: #849D8F;
  --basic-purple: #8996A6;
  --basic-brown: #9D8B84;
  --basic-light-pink: #FBDED7;
  --basic-medium-pink: #F6B5A5;
  --basic-dark-pink: #D07058;
  --basic-red: #E84D37;
  --basic-light-red: #FFBC9E;
}

/* Global */

.page {
  min-width: 1200px;
  height: 100%;
  background-color: var(--basic-green);
}

.container {
  width: 1146px;
  margin: 0 auto;
}


.page-body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */

.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-white);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-style: none;
  border-radius: 70px;
}

.button:hover,
.button:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

/* Input */

.input-text {
outline: none;
font-size: 14px;
font-weight: 400;
line-height: 16px;
color: var(--basic-dark-grey);
border: 1px solid rgba(178, 178, 178, 0.52);
border-radius: 4px;
}

.input-text:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
}

.input-text:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.input-text::placeholder {
  color: #999999;
}

/* Header */

.main-header .container {
  display: grid;
  grid-template-columns: 1fr 426px;
  column-gap: 26px;
  align-items: center;
  min-height: 114px;
}

.main-header a {
  text-decoration: none;
}

/* Main Nav */

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Logo */

.logo {
  width: 154px;
  height: 65px;
}

/* Site navigation */

.site-nav,
.site-nav-submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav {
  margin-left: 24px;
  display: flex;
}

.site-nav li {
  margin-right: 30px;
}

.site-nav li:last-child {
  margin-right: 0;
}

.nav-link {
  font-weight: 700;
  color: var(--basic-white);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
}

.nav-current {
  color: var(--basic-white);
  background-color: var(--basic-dark-pink);
}

/* Site navigation Sub Menu */

.site-nav-submenu {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
}

.submenu-title {
  font-weight: 700;
  line-height: 18px;
}

.submenu-item {
  font: inherit;
  color: var(--basic-dark-grey);
}

.submenu-item:hover,
.submenu-item:focus {
  color: var(--basic-dark-grey);
  background-color: var(--basic-light-pink);
}

.submenu-item:active {
  color: var(--basic-dark-grey);
  background-color: var(--basic-medium-pink);
}

.submenu-current {
  color: var(--basic-white);
  background-color: var(--basic-dark-pink);
}

/* User nav */

.user-nav {
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
}

.user-nav > div {
  margin-right: 10px;
}

.user-nav > div:last-child {
  margin-right: 0;
}

.site-search .input-text,
.login-form .input-text {
  font-size: 14px;
  line-height: 16px;
}

.search-form,
.login-form {
  background-color: var(--basic-dark-white);
}

/* User-Menu */

.search-link,
.login-link,
.cart-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  color: var(--basic-white);
  background: rgba(255, 255, 255, 0.2)
}

.search-link:hover,
.search-link:focus,
.login-link:hover,
.login-link:focus,
.cart-link:hover,
.cart-link:focus {
  color: var(--basic-dark-grey);
  background: var(--basic-white);
}

/* Login form */

.login-form-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: var(--basic-dark-grey);
  text-decoration: none;
}

.login-form-link:hover,
.login-form-link:focus,
.login-form-link:active {
  color: var(--basic-red);
}

/* Cart */

.cart {
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-dark-grey);
  background-color: var(--basic-dark-white);
}

.cart-full {
  font-weight: 500;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
}

.item-price {
  color: #ababab;
}

.cart-total {
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
}

/* Working Time */

.working-time {
  grid-column: 2;
  justify-self: end;
  max-width: 267px;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.working-time p {
  margin-top: 0;
  margin-bottom: 8px;
}

.working-time a {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-white);
}

/* Main */

.page-main .container {
  display: grid;
}

/* Slider */

.slider {
  background-image: url(../img/lighten.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.slider-list {
  list-style: none;
}

.slider-text {
  font-size: 60px;
  line-height: 60px;
}

.slider-item-button {
  font-size: 32px;
  font-weight: 44px;
}

/* Promo */

.promo {
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 26px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.promo-item {
  min-height: 229px;
  background-color: transparent;
}

.promo-title {
  font-size: 35px;
  line-height: 41px;
}

/* Top sales */

.top-sales-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 267px);
  column-gap: 26px;
  row-gap: 40px;
}

.page-catalog .top-sales-list {
  margin-bottom: 80px;
}

.top-sales-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.top-sales-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.top-sales-price span {
  font-size: 30px;
  line-height: 35px;
}

.top-sales-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: inherit;
  text-decoration: none;
}

.top-sales-link:hover,
.top-sales-link:focus,
.top-sales-link:active {
  color: var(--basic-light-red);
}

/* Index columns */
.index-columns {
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 26px;
  margin-bottom: 40px;
}

/* Features */

.features {
  margin-bottom: 40px;
  line-height: 22px;
  color: var(--basic-dark-grey);
  background-color: #ECE1C7;
  background-image: url(../img/pattern.jpg);
  background-repeat: repeat;
  border-radius: 16px;
}

.features-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* News */

.news {
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
  border-radius: 16px;
}

.news h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.news-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: inherit;
}

.news-link:hover,
.news-link:focus,
.news-link:active {
  color: var(--basic-red);
}

/* Subscription */

.subscription {
  width: 560px;
  height: 220px;
  line-height: 22px;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
  background-image: url(../img/postal-bg.png);
  background-repeat: no-repeat;
  border-radius: 16px;
}


.subscription .input-text {
  font-size: 16px;
  line-height: 24px;
}

/* Contacts */

.map {
  width: 100%;
}

.address {
  width: 303px;
  min-height: 306px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
  border-radius: 16px;
}

.contacts-street,
.contacts-phone {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-phone {
  color: inherit;
  text-decoration: none;
}

/* Footer */

.main-footer {
  padding-top: 18px;
  padding-bottom: 25px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 267px minmax(350px, 560px) max-content;
  column-gap: 26px;
  justify-content: space-between;
  align-items: center;
}

/* Social */

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.social-list li {
  margin-right: 10px;
}

.social-list li:last-child {
  margin-right: 0;
}

.social-list a {
  opacity: 0.8;
}

.social-list a:hover,
.social-list a:focus,
.social-list a:active {
  opacity: 1;
}

/* Info */

.info-list {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 40px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-item {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}

.info-item-favorite {
  font-weight: 700;
}

.info-item:hover,
.info-item:focus,
.info-item:active,
.copyright a:hover,
.copyright a:focus,
.copyright a:active {
  color: var(--basic-light-red);
}

/* Copyright */

.copyright {
  margin: 0;
  padding: 0;
}

.copyright a {
  display: grid;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}

/* Message form */
.modal-message {
  color: var(--basic-dark-grey);
  background-color: #F8F7F4;
  border-radius: 6px;
}

.message-form-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.message-form-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/* Catalog page */

.page-catalog {
  margin-bottom: 30px;
}

.catalog-title {
  margin-top: 9px;
  margin-bottom: 29px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

/* Breadcrumbs */

.breadcrumbs {
  order: -1;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs li {
  margin-right: 24px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumb-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--basic-white);
  text-decoration: none;
}

.breadcrumb-link:hover,
.breadcrumb-link:focus,
.breadcrumb-link:active {
  color: var(--basic-light-red);
}

/* Sorting form */

.sort-form {
  display: flex;
  margin-bottom: 40px;
}

.sort-form fieldset {
  border: none;
}

.sort-form legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.sort-form select,
.sort-form label {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.sort-form-button {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: inherit;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

.sort-form-button:hover {
  color: var(--basic-dark-grey);
  background: var(--basic-white);
}

.sort-form-button:active {
  padding: 17px 32px;
  color: var(--basic-dark-grey);
  background: var(--basic-white);
  border: none;
  box-shadow: inset 0px 2px 1px #696969;
}

/* Pagination */

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.pagination li {
  margin-right: 20px;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: none;
}

.pagination-item:hover {
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item-current {
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
}
